.footer
    .container
        .text1
            .sub Subcribe to our new letter
                span .
        .des 
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam ipsam neque ea id quis dignissimos esse maxime minus tempore
        .box 
            .search-bar 
                p Your email address
                .subcribe
                    p Subcribe
        hr
        .logo 
            .imgBx 
                img(src="../img/Your_App_Icon_.png", alt="", srcset="")
        .text2
            .sub Download the app
                span .
        .des 
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam ipsam neque ea id quis dignissimos
        .appstore 
            .imgBx 
                img(src="../img/AppStore-download.png", alt="")
        hr
        .bottom
            .left 
                ul.menu-list
                    li.menu-item 
                        p ABOUT 
                    li.menu-item 
                        p FAQ 
                    li.menu-item 
                        p SUPPORT 
                    li.menu-item 
                        p BLOG 
                    li.menu-item 
                        p DOWNLOAD   
            .right
                .button
                    p ENGLISH
                    .arrow 