.easyMessage
    .container
        .nav-message
            ul.img-list
                li.img-item_1
                    img(src="../img/Conversation.png", alt="")
                li.img-item_2
                    img(src="../img/Messages.png", alt="")
                    
            .text
                .text-content
                    h1 Easy Messaging
                    .text-dot
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque nostrum iste ducimus labore doloremque vel sit et, minima atque ratione pariatur magni enim officia deserunt illo aliquam ut? Provident, omnis?
                