.huyBranch
    .container 
        .content
            .left-content 
                p 
                    b Keep in touch
                        span .
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt quibusdam sed repudiandae provident accusamus placeat, blanditiis harum similique ex culpa. Impedit nobis natus neque, amet repellat consectetur. A, molestias repellendus!
            .right-content
                .top-image
                    img(src="../img/Contacts copy.png", alt="", srcset="")
                .bottom-image
                    img(src="../img/Groups.png", alt="", srcset="")