.tanBranch
    .containter
        .title
            .content What people say
            .dot 
        .table_card
            .card
                .card_content.card_side
                    .text Lorem ipsum dolor sit amet, onsectetur adipisicing elit, sed do eiusmod tempor incididunt ul labore et dolore et dolore magna aliqua. Ut enim ad minim.
                    .link Booking.com
                .card_avatar
                    .avatar
                        img(src="../img/avt2.png", alt="")
                    .describe
                        .name John Doe
                        .role CEO
            .card.mid
                .card_content.card_mid
                    .text Lorem ipsum dolor sit amet, onsectetur adipisicing elit, sed do eiusmod tempor incididunt ul labore et dolore et dolore magna aliqua. Ut enim ad minim.
                    .link Airnbnb
                .card_avatar
                    .avatar
                        img(src="../img/avt1.png", alt="")
                    .describe
                        .name John Doe
                        .role CEO
            .card
                .card_content.card_side
                    .text Lorem ipsum dolor sit amet, onsectetur adipisicing elit, sed do eiusmod tempor incididunt ul labore et dolore et dolore magna aliqua. Ut enim ad minim.
                    .link Symu.co
                .card_avatar
                    .avatar
                        img(src="../img/avt2.png", alt="")
                    .describe
                        .name John Doe
                        .role CEO
