.tienBranch 
    div.tag
        div.container
            div.container1
                div.tag12
                    div.tag1
                        h3 Start conversation
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, autem exercitationem. Nostrum blanditiis doloribus quia vitae laborum ipsum autem similique hic aut. 
                    div.tag2
                        h3 Make a free call
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta sed ipsam asperiores id cum maxime porro labore sit, nobis magni tempora alias molestiae iure eius.
                        i.fa-thin.fa-comments
                div.img1 
                    img(src="../img/iPhone7Silver2.png", alt="")
                div.icon
                    img(src="../img/play-circle.png",alt="")
                div.tag34
                    div.tag3
                        h3 Take a picture
                        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam illum facere architecto molestiae cupiditate, pariatur quo rem quis adipisci id et ducimus molestias.
                    div.tag4
                        h3 Send your video
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, ducimus omnis excepturi deleniti non alias minus cum nobis delectus.
                
                            