.tienBranch 
    div.tag
        div.container
            div.container1
                div.tag12
                    div.tag1
                        div.text1
                            h3 Start conversation
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, autem exercitationem. Nostrum blanditiis doloribus quia.
                            
                        div.icon1
                            <i class="bi bi-chat"></i>
                    div.tag2
                        div.text2
                            h3 Make a free call
                            p Lorem ipsu dolor sit amet consectetur adipisicing elit. Soluta sed ipsam asperiores id cum maxime porro labore sit, 
                        div.icon2
                            <i class="bi bi-telephone-outbound"></i>
                div.img1 
                    img(src="../img/iPhone7Silver2.png", alt="")
                div.icon
                    img(src="../img/play-circle.png",alt="")
                div.tag34
                    div.tag3
                        div.icon3
                            <i class="bi bi-camera"></i>
                        div.text3
                            h3 Take a picture
                            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam illum facere architecto molestiae cupiditate, pariatur
                        
                    div.tag4
                        div.icon4
                            <i class="bi bi-camera-video"></i>
                        div.text4
                            h3 Send your video
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, ducimus omnis excepturi deleniti non 
                        
                
                            