.easyMessage {
    padding-top: 30px;
    .container {
        .nav-message {
            display: flex;
            width: auto;
            height: 800px;
            align-items: center;
            justify-content: center;
            @media (max-width: 1020px) {
                .img-list {
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                }
            }
            .img-list {
                list-style-type: none;
                position: relative;
                margin-right: 290px;
                flex-direction: column;
                .img-item_1 {
                    img {
                        left: 150px;
                        top: 60px;
                        z-index: -1;
                    }
                }
                .img-item_2 {
                    img {
                        position: absolute;
                        left: 125px;
                        top: 15px;
                    }
                }
            }
            .text {
                .text-content {
                    display: flex;
                    align-items: center;
                    .content {
                        display: block;
                        font-size: 60px;
                        margin-top: 0.67em;
                        margin-bottom: 0.67em;
                        margin-left: 0;
                        margin-right: 0;
                        font-weight: 900;
                        span {
                            color: red;
                            font-size: 80px;
                            font-weight: 800;
                        }
                    }
                }
                @media (max-width: 1020px) {
                    display: none;
                }
            }
        }
    }
}
