.easyMessage {
    .container {
        .nav-message {
            display: flex;
            width: auto;
            height: 800px;
            align-items: center;
            justify-content: center;
            .img-list {
                list-style-type: none;
                display: flex;
                position: relative;
                margin-right: 290px;
                flex-direction: column;
                .img-item_1 {
                    img {
                        display: flex;
                        position: relative;
                        // left: 150px;
                        // top: 60px;
                        transform: translate(50%,50%);
                    }
                }
                .img-item_2 {
                    img {
                        display: flex;
                        position: relative;
                        // left: 125px;
                        // top: 15px;
                        transform: translate(11%, -61%);
                        z-index: -1;
                    }
                }
            }
            .text {
                .text-content {
                    display: flex;
                    align-items: center;
                    h1 {
                        font-size: 300%;
                    }
                    .text-dot {
                        height: 15px;
                        width: 15px;
                        background-color: #bbb;
                        border-radius: 50%;
                        display: inline-block;
                        background-color: red;
                    }
                }
            }
        }
    }
}
