.huyBranch{
    .container{
        // background-color: rgb(255, 255, 255);
        max-width: 1700px;
        height: 800px;
        margin: auto;
        padding: 0%;
        box-sizing: border-box;
        @media (max-width: 1300px){
            width: auto;
            height: 800px;
        }  
        @media (max-width: 1000px){
            width: auto;
            height: 600px;
        }
        // @media (max-width: 1500px){
        //     width: 80%;
        //     transition: 0.5s;
        // }
        // @media (max-width: 875px){
        //     width: 80%;
        //     transition: 0.5s;
        // }
        .content{
            display: flex;
            position: relative;
            justify-content: space-around;
            flex-wrap: nowrap;
            width: 100%;
            height: 100%;
            transform: translate(0%, -15%);
            // transform: translate(0%,-30%);
            .left-content{
                display: flex;
                position: relative;
                width: 40%;
                height: 100%;
                transform: translate(30%,0%);
                flex-direction: column;
                justify-content: center;
                @media (max-width: 1300px){
                    transform: translate(10%,0%);
                    transition: 5s;
                }
                // transform: translate(0%,85%);
                // @media (max-width: 1500px){
                //     width: 50%;
                //     height: 100%;
                //     transition: 3s;
                // }
                    p:first-child{
                        margin-bottom: 15px;
                        display: flex;
                        position: relative;
                        width: 100%;
                        @media (max-width: 1300px){
                            width: auto;
                            transition: 0.5s;
                        }

                    }
                    b{
                        font-size: 60px;
                        @media (max-width: 1300px){
                            width: auto;
                            font-size: 45px;
                            transition: 6s;
                        }  
                        @media (max-width: 1000px){
                            width: auto;
                            font-size: 40px;
                            transition: 4s;
                        }
                        // @media (max-width: 1500px){
                        //     display: block;
                        //     position: static;
                        //     transition: 0.5s;
                        // }
                    }
                        span{
                            @media (max-width: 1300px){
                                width: auto;
                                font-size: 45px;
                                transition: 6s;
                            } 
                            @media (max-width: 1000px){
                                width: auto;
                                font-size: 40px;
                                transition: 4s;
                            }
                            font-size: 80px;
                            border-radius: 50%;
                            color: crimson;
                        }
                    p:last-child{
                        display: flex;
                        line-height: 35px;
                        width: 580px;
                        @media (max-width: 1300px){
                            width: 80%;
                            font-size: 80%;
                            transition:6s;
                            line-height: 30px;
                        } 
                        @media (max-width: 1000px){
                            width: 60%;
                            font-size: 9    0%;
                            line-height: 20px;
                        }
                    }
            }
            .right-content{
                display: flex;
                position: relative;
                width: 60%;
                height: 60%;
                transform: translate(0%, 60%);
                flex-wrap: nowrap;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                @media (max-width: 1000px){
                    width: 300px;
                }
                .top-image{
                    display: flex;
                    position: relative;
                    top: 30%;
                    left: -0.5%;
                    z-index: 5;
                    @media (max-width : 1300px){
                        display: flex;
                        position: relative;
                        top: 22%;
                        left: -9.5%;
                            img{
                                max-width: 80%;  
                                height: auto;  
                                }
                    }
                    @media (max-width: 1000px){
                        display: flex;
                        position: relative;
                        top: 31%;
                        left: -27.5%
                            img{
                                max-width: 80%;  
                                height: auto;  
                                }
                    }
                }

                
                .bottom-image{
                    display: flex;
                    position: relative;
                    top: -111%;
                    left: 19.1%;
                    z-index: 1;
                    @media (max-width : 1300px){
                        // display: flex;
                        position: relative;
                            top: -92%;
                            left: 8%;
                        img{
                            
                            max-width: 80%;  
                            height: auto;  
                            }
                        }
                    @media (max-width : 1000px){
                            // display: flex;
                            position: relative;
                            top: -92%;
                            left: 34.5%;
                            img{        
                                max-width: 65%;  
                                height: auto;  
                                }
                            }
                    }
                }
            }
        }
    }

