doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title PiedTeam
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <script src="https://kit.fontawesome.com/cd2a035284.js" crossorigin="anonymous"></script>
  body
    include ./layout/thucBranch.pug
    include ./layout/dungBranch.pug
    include ./layout/huyBranch.pug
    include ./layout/tanBranch.pug
    include ./layout/tienBranch.pug
    include ./layout/danhBranch.pug
    //- h1 ahihi
    //- img(src="./../img/bg-login.jpg", alt="", srcset="")
    noscript  PiedTeam
    script(src='../bundle.js')
    
